[core]
  editor       = vim
  pager        = less
  autocrlf     = false
  filemode     = true
  quotepath    = false
  excludesfile = ~/.git.d/ignore

[color]
  branch      = true
  diff        = true
  grep        = true
  interactive = true
  pager       = true
  showbranch  = true
  status      = true
  ui          = true

[help]
  autocorrect = 1

[push]
  default = simple

[rerere]
  enable = true
