[submodule "nvim/.config/nvim/profiles/default/pack/cocopon/start/iceberg.vim"]
	path = nvim/.config/nvim/profiles/default/pack/cocopon/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim
